/node_modules
Homestead.yaml
.env
.idea
npm-debug.log
yarn-error.log
_ide_helper.php
/storage/debugbar
.phpstorm.meta.php
yarn.lock
nbproject
.buildpath
.project
.settings/
webpack-stats.json
.phpunit.result.cache
.DS_Store
phpstan.neon